<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Friend Fone | An Education & Medical Software</title>
	<link
		rel="icon"
		type="image/svg"
		href="https://mediaanduserfiles.s3.amazonaws.com/favicon_qgcraf_v6duoh.svg"
	/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/		bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"
	>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="/stylesheets/new/header.css" />
	<link rel="stylesheet" href="/stylesheets/new/main.css" />
	<link rel="stylesheet" href="/stylesheets/new/responsive.css" />
	<link rel="stylesheet" href="/stylesheets/new/footer.css" />
	<link rel="stylesheet" href="/stylesheets/new/concierge.css" />
	<script src="//code.tidio.co/oohi4ck9zmzjoekpsft3cp6h9cnitwej.js" async></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171459783-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "UA-171459783-1");
	</script>
</head>
<body>
	<%- include ("../partials/myHeader") %>
	<%- include ("../partials/modal") %>
	<%- include ("../partials/about") %>
	<%- include ("../partials/about") %>
	<%- include ("../partials/process") %>
	<%- include ("../partials/newFooter") %>
	<script type="text/javascript">
		const ham = document.querySelector('#ham');
		const mobile_nav = document.querySelector('.nav_lists');
		const copyright = document.querySelector('#copyright p');

		ham.addEventListener('click', (e) => {
			e.preventDefault();
			mobile_nav.classList.toggle('extend');
		});

		const customerPhoto = document.querySelector(`section.about_section:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)`);
		const headerSelector = `section.about_section:nth-child(3) .about_part_one div:nth-child(2) h1`;
		const paraSelector = `section.about_section:nth-child(3) .about_part_one div:nth-child(2) p`;
		const btnSelector = `section.about_section:nth-child(3) .about_part_one div:nth-child(2) a`;

		document.addEventListener("DOMContentLoaded", (e) => {
			document.querySelector(headerSelector).textContent = `We’re By Your Side`;
			document.querySelector(paraSelector).textContent = `We understand that life doesn’t take a break! With our new Concierge feature, we’re only a text away. Let us know when you’d like us to touch base with you and what elsclation you’d like and we’ll make it happen!`;
		
			const btn = document.querySelector(btnSelector);
			btn.textContent = 'Try Out Concierge';
			btn.target = '_blank';
			btn.href = '/register?redirectfrom=<%= pathname %>';
			customerPhoto.style.backgroundImage = `url('https://mediaanduserfiles.s3.amazonaws.com/Customer_Service_Photo_j5a7vq.png')`;

			copyright.textContent = `© Copyright ${new Date().getFullYear()} FriendFone. All Rights Reserved.`
		})
		const modalButton = document.querySelector(`section.about_section:nth-child(3) .about_part_two a `);
		const modalButtonTwo = document.querySelector(`section.about_section:nth-child(4) .about_part_two a`);
		
		modalButton.addEventListener('click', () => {
			//replace it with a new video
			const videoLink = `https://www.youtube.com/embed/aKHqlSTDop8`;
			const iframe = document.querySelector('iframe');
			// const source = document.querySelector('video source');
			if(iframe.src == videoLink){
				return;
			}

			iframe.src = videoLink;
		})

		modalButtonTwo.addEventListener('click', () => {
			const videoLink = `https://www.youtube.com/embed/TbI6XDbZFl8`;
			const iframe = document.querySelector('iframe');
			if(iframe.src == videoLink){
				return;
			}

			iframe.src = videoLink;
		})

	</script>
</body>
</html>